---
Checks: >
  -*,
  altera-struct-pack-align,
  bugprone-*,
  cet-*
  concurrency-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-inc-dec-in-conditions,
  -bugprone-narrowing-conversions,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-avoid-magic-numbers,
  -google-upgrade-googletest-case,
  -google-readability-namespace-comments,
  -google-runtime-int,
  -google-runtime-references,
  -misc-no-recursion,
  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,
  -modernize-pass-by-value,
  -modernize-use-nodiscard,
  -modernize-use-noexcept,
  -modernize-use-std-print,
  -modernize-avoid-c-arrays,
  -modernize-use-trailing-return-type,
  -misc-non-private-member-variables-in-classes,
  -readability-named-parameter,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-convert-member-functions-to-static

WarningsAsErrors: "*"

HeaderFilterRegex: "google.*\\.h$"

CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,           value: lower_case }
  - { key: readability-identifier-naming.ClassCase,               value: CamelCase }
  - { key: readability-identifier-naming.StructCase,              value: CamelCase }
  - { key: readability-identifier-naming.TemplateParameterCase,   value: CamelCase }
  - { key: readability-identifier-naming.FunctionCase,            value: CamelCase }
  - { key: readability-identifier-naming.FunctionIgnoredRegexp,   value: "^BM_[a-zA-Z0-9_]+" }
  - { key: readability-identifier-naming.VariableCase,            value: camelBack }
  - { key: readability-identifier-naming.PrivateMemberSuffix,     value: _         }
  - { key: readability-identifier-naming.ProtectedMemberSuffix,   value: _         }
  - { key: readability-identifier-naming.MacroDefinitionCase,     value: UPPER_CASE }
  - { key: readability-identifier-naming.EnumConstantCase,        value: CamelCase }
  - { key: readability-identifier-naming.EnumConstantPrefix,      value: k         }
  - { key: readability-identifier-naming.ConstexprVariableCase,   value: CamelCase }
  - { key: readability-identifier-naming.ConstexprVariablePrefix, value: k         }
  - { key: readability-identifier-naming.GlobalConstantCase,      value: CamelCase }
  - { key: readability-identifier-naming.GlobalConstantPrefix,    value: k         }
  - { key: readability-identifier-naming.MemberConstantCase,      value: CamelCase }
  - { key: readability-identifier-naming.MemberConstantPrefix,    value: k         }
  - { key: readability-identifier-naming.StaticConstantCase,      value: CamelCase }
  - { key: readability-identifier-naming.StaticConstantPrefix,    value: k         }
